body {
	margin:0;
	padding:0;
}
#container{
	max-width: 100%;
	margin: auto;
	background: rgba(58, 58, 158, 0.8);
	font-family: 'Poppins', sans-serif;
	color: white;
}
h1, p{
	text-align: center;
}
header {
	padding-top: 25px;
}
form {
	max-width: 720px;
	margin: auto;
	padding-top: 30px;
	padding-left: 35px;
	padding-right: 40px;
	background: rgba(27, 27, 50, 0.8);
	border-radius: 0.25rem;
}
#name, #email, #number{
	width: 100%;
	height: 35px;
}
#dropdown, #option {
	width: 101.2%;
	height: 35px;
}
#comment {
	width: 100%;
	height: 100px;
}

.form-group {
	margin-top: 20px;
	margin-bottom: 20px;
}

#submit {
	width: 101%;
	height: 35px;
	margin-bottom: 30px;
	background-color: #4CAF50;
}